<div class="bg-white p-5 mt-5 max-w-[556px]">
  <div class="px-6 flex justify-between">
    <div class="flex flex-col mx-auto">
      <p class=" text-[#003A50] font-bold text-xl">Claim Property</p>
      <p class="font-semibold text-base max-w-[300px]">Claim the ownership of your property now and prevent others from claiming or using it as theirs. </p>
    </div>
    <div class="cursor-pointer flex justify-end" (click)="close()">
      <img src="assets/svg/cancel.svg" alt="">
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <div class="p-2">
      <p class="text-left  font-semibold">Property Address</p>
      <app-input [customClass]="'w-full'" [placeholder]="'Enter ATOKA or address'"></app-input>
    </div>
    <div class="hidden">
      <div class="p-2">
        <p class="text-[#003A50] font-bold">LE2345678909</p>
        <p class="text-[#005677]">Etiebets place, 21 shomolu Avenue, ikoyi, Lagos Nigeria</p>
      </div>
    </div>
    <p class="flex justify-center mt-5 font-display">Don’t have ATOKA ? &nbsp; <span class="font-semibold cursor-pointer text-[#003A50]" (click)="toggleDiv()"> Enter address manually</span></p>

    <div class="grid gap-4 p-2" *ngIf="showDiv">
      <p class="flex justify-center">Great! could you please verify details below?</p>
      <div class="grid grid-cols-2 gap-4">
        <div class="">
          <p class="text-left  font-semibold">Country</p>
          <div class="border border-[#E6E6E6] rounded-lg p-4 w-full">
            <mat-select [placeholder]="'Select Country'" class="w-full">
              <mat-option> Nigeria</mat-option>
              <mat-option> Ghana</mat-option>
            </mat-select>
          </div>
        </div>
        <div>
          <p class="text-left  font-semibold">State</p>
          <div class="border border-[#E6E6E6] rounded-lg p-4 w-full">
            <mat-select [placeholder]="'Select State'" class="w-full">
              <mat-option> Lagos</mat-option>
              <mat-option>Abuja</mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div>
        <p class="text-left  font-semibold">Local Government Area (LGA)</p>
        <app-input [customClass]="'w-full'" [placeholder]="'Enter Local Government Area'"></app-input>
      </div>
      <div>
        <p class="text-left  font-semibold">District</p>
        <app-input [customClass]="'w-full'" [placeholder]="'Enter Local Government Area'"></app-input>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div class="">
          <p class="text-left  font-semibold">City</p>
          <div class="border border-[#E6E6E6] rounded-lg p-4 w-full">
            <mat-select [placeholder]="'Select Country'" class="w-full">
              <mat-option> Nigeria</mat-option>
              <mat-option> Ghana</mat-option>
            </mat-select>
          </div>
        </div>
        <div>
          <p class="text-left  font-semibold">Home Number</p>
          <app-input [customClass]="'w-full'" [placeholder]="'Enter Home Number'"></app-input>
        </div>
      </div>
      <div>
        <p class="text-left  font-semibold">Street Name</p>
        <app-input [customClass]="'w-full'" [placeholder]="'Enter Street Name'"></app-input>
      </div>
      <div>
        <div class="flex justify-between">
          <p class="text-left  font-semibold">ATOKA</p>
          <p class="text-[#DA7B07]">Save location</p>
        </div>
        <app-input [customClass]="'w-full'" [placeholder]="'Atoka'"></app-input>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <div>
        <p class="text-left  font-semibold">Document Type</p>
        <div class="border border-[#E6E6E6] rounded-lg p-4 w-full">
          <mat-select [placeholder]="'Select Document'" class="w-full">
            <mat-option> Lagos</mat-option>
            <mat-option>Abuja</mat-option>
          </mat-select>
        </div>
      </div>
      <div>
        <p class="text-left  font-semibold">Document Reference</p>
        <div class="border border-[#E6E6E6] rounded-lg p-4 w-full">
          <mat-select [placeholder]="'Document Type'" class="w-full">
            <mat-option> Lagos</mat-option>
            <mat-option>Abuja</mat-option>
          </mat-select>
        </div>
      </div>
      <app-upload-file fileType="document"></app-upload-file>
      <div class="flex gap-2">
        <mat-checkbox color="primary"></mat-checkbox>
         <div class="flex flex-col">
          <p class="text-left  font-semibold">Verify Ownership</p>
        <p class="text-[#72747D]">Claim the ownership of your property now and prevent others from claiming or using it as theirs. we will notify you if any other attempt to claim it is made</p>
        </div>
      </div>
    </div>

    <div class="flex mx-auto mt-5">
      <app-button
      buttonText="Claim Property"
      buttonStyles="w-[500px]"
      ></app-button>
    </div>
  </div>
</div>
