
<div class="atoka-form-header">
  <div class="atoka-form-header-icon">
    <mat-icon svgIcon="password" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
  <h1>Upload profile picture</h1>
  <small>Please upload a profile picture for easy identification.</small>
</div>
<form class="pt-10 max-w-md mx-auto">

  <div class="flex justify-center items-center">
    <app-upload-profile-image></app-upload-profile-image>

    <app-upload-profile-image></app-upload-profile-image>
  </div>

</form>

