<div class="mb-10 mt-5 lg:mt-0">
  <div class="flex flex-col gap-4 md:flex-row justify-between mb-5">
    <form [formGroup]="filterForm">
      <div class="flex flex-col justify-between gap-4 md:flex-row ">
        <!-- search -->
        <div class="border border-[#D6F5FFD9] pl-4 pr-12 flex gap-4 items-center bg-[#F3FCFF]  rounded-lg">
          <img src="assets/svg/Search.svg" alt="">
          <input type="text" placeholder="Search" class="py-2 outline-none border-none !bg-inherit">
        </div>
        <!-- date picker -->
        <div class="date-holder">
          <button class="sort-button" (click)="picker.open()">
            <span>Sort by Date</span>
            <img src="assets/svg/calendar.svg" alt="">
          </button>
          <mat-date-range-input class="custom-date-input" [rangePicker]="picker">
            <input matStartDate formControlName="start_date" placeholder="Start date">
            <input matEndDate (dateChange)="onDateRangeInput()" formControlName="end_date" placeholder="End date">
          </mat-date-range-input>

          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>
      </div>
    </form>

    <app-button buttonText="Report Incident" [buttonStyles]="'px-8'" (click)="reportIncident()"></app-button>
  </div>

  <div class="hidden flex justify-center items-center mx-auto">
    <div
      class="bg-white mt-4 rounded-lg shadow flex flex-col justify-center items-center min-w-[535px] py-5 px-10 gap-4">
      <div>
        <img src="assets/images/incident-empty-image.png" alt="" class="w-full">
      </div>
      <p class="text-[#00394F] font-bold font-[poppins] text-xl">You have not reported any incident yet</p>
      <p class="max-w-[290px]">Meet friends and strangers with peace of mind Plan your next journey here</p>
      <app-button buttonText="Report Incident" (click)="reportIncident()" [buttonStyles]="'px-10'"></app-button>
    </div>
  </div>
  <!-- table -->

  <div class="table-holder mt-5 lg:mt-10">
    <table class="table-auto">
      <thead>
        <tr class="!rounded-lg">
          <th>Location</th>
          <th>Priority</th>
          <th>Entry Date</th>
          <th>Incident Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>
            <div class="flex gap-4 items-center cursor-pointer" (click)="showIncident(item)">
              <div class="bg-[#F2FCF2] p-4 rounded-full w-[69px] h-[69px]">
                <img src="assets/svg/info_green.svg" alt="" class="w-full">
              </div>
              <div class="flex flex-col gap-2">
                <p class="font-bold text-base text-[#003A50]">LE2345678909</p>
                <p class="max-w-[191px]">{{item.location || 'N/A'}}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="font-bold text-[#666666]">Urgent</p>
          </td>
          <td>
            <p class="font-bold text-[#666666]">{{item.incidentDate | date}}</p>
          </td>
          <td>
            <p class="font-bold text-[#666666]">
              {{item.incidentType || 'N/A'}}
            </p>
          </td>
          <td>
            <p class="status successful">
              <span class="font-semibold">Successful</span>
              <span><img src="assets/svg/badge.svg" alt=""></span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
