<div class="w-[450px]">
  <div class="flex justify-between">
    <div class="flex flex-col justify-center mx-auto">
      <div class="flex justify-center mb-5">
        <img src="assets/svg/info-bg-red.svg" alt="">
      </div>
      <p class="font-bold">Incident</p>
      <p class="text-[#003A50] font-semibold">Incident 1234509WE</p>
    </div>

    <div class="flex justify-end cursor-pointer" (click)="close()">
      <img src="assets/svg/cancel.svg" alt="">
    </div>
  </div>

  <div class="flex flex-col gap-4 mt-5">
    <div class="flex justify-between">
      <p class="font-bold text-base text-[#003A50]">Location</p>
      <p class="flex flex-col justify-end">LE2345678909
        <span class="max-w-[250px]">
          {{data.incidentLocation}}
        </span>
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-base text-[#003A50]">Date</p>
      <p class="">
       {{data.incidentDate}}
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-base text-[#003A50]">Status</p>
      <p class="status successful">
        <span class="font-semibold">Successful</span>
        <span><img src="assets/svg/badge.svg" alt=""></span>
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-base text-[#003A50]">Incident type</p>
      <p>
        Bad Road leading to accident
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-base text-[#003A50]">Incident Details</p>
      <p class="max-w-[250px]">
       {{data.incidentDetails}}
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-base text-[#003A50]">Resolution</p>
      <p>
        Federal Government
      </p>
    </div>
  </div>
</div>
