<div class="font-display">
  <div class="flex justify-between items-center  pt-5 pb-3 lg:pb-4 border-b border-b-[#D3EEF9]">
    <div>
      <p class="text-[32px] p-0 !m-0 text-[#275C70] font-bold">{{title}}</p>
    </div>
    <div class="flex justify-between gap-6 items-center">
      <div>
        <div class=" w-full cursor-pointer">
          <img src="assets/svg/mail.svg" alt="" class="w-full">
        </div>
      </div>

      <div class="cursor-pointer">
        <img src="assets/svg/bell.svg" alt="">
      </div>

      <div class="bg-[#D9EEFF] rounded-md p-2 cursor-pointer">
        <img src="assets/svg/male-memojis.svg" alt="">
      </div>
      <div class="md:hidden">
        <button (click)="toggle()" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>
