<div class="bg-white rounded-lg p-5 mt-0 max-w-[556px]">
  <div class="flex flex-col">
    <p class="text-[#003A50] font-bold text-xl mb-3">Add Branch</p>
    <p class=" text-base">If your business has other branches, add branches here.</p>
  </div>
  <div class="flex flex-col gap-4">
    <!-- <div class="p-2">
      <p class="text-left  font-semibold">Branch Address</p>
      <app-input [customClass]="'w-full'" [placeholder]="'Enter ATOKA or address'"></app-input>
    </div> -->
    <div class="p-2 space-y-5 mt-3">
      <app-address-search [includeVerify]="true" (result)="getAddress($event)" class=" items-start"
        [lebel]="'Branch address'"></app-address-search>
    </div>
    <div class=" flex-row mx-auto gap-4 items-center">
      @if(addressResult){
      <app-address-card [address]="addressResult"> </app-address-card>
      }

      <div class="mt-0 ">

        <div>
          <div class="p-2 ">
            <p class="text-left  font-semibold">Branch Name</p>
            <app-input [customClass]="'w-full p-2'" [placeholder]="'Enter Branch Name'"></app-input>
          </div>
          <div class="p-2 text-left mb-10">
            <mat-checkbox class="">If this is buliding you Head Office identify by checking the box</mat-checkbox>
            <mat-checkbox >
              <div class="font-[400] text-[14px] pt-2">Claim Ownership </div> 
              <div class="font-[400] text-[13px] mt-1"> we will notify you if any other attempt is made to claim your
                property.</div>
            </mat-checkbox>
  
          </div>
        </div>
        <div class="w-full flex  items-center">
          <app-button buttonText="Add " (click)="save()" buttonStyles="w-[368px] "></app-button>
        </div>

      </div>
    </div>

  </div>

</div>