<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<div class="layout font-display">
  <app-dashboard-nav (buttonToogle)="openNav()" title="{{currentRoute | titlecase}} " class="!bg-white"></app-dashboard-nav>
  <app-dashboard-sidebar [navList]="navList" [buttomNav]="bottomNav"></app-dashboard-sidebar>
  <div class="p-10 lg:ml-auto lg:w-[calc(100%-270px)] bg-[#F3F4F6]">
    <router-outlet></router-outlet>
  </div>
</div>
