
@if (hideForm) {
<form class=""  >
  <div class="grid grid-cols-2 gap-x-4 ">
    <div class="control ">
      <mat-label class="text-sm">Country</mat-label>
      <mat-form-field
        class="w-full rounded-xl"
        appearance="fill"
        floatLabel="always"
      >
        <input
          matInput
          placeholder="First name"
          type="text"
          name="firstname"
          id="firstname"
        />
        <mat-error>Please enter your username</mat-error>
      </mat-form-field>
    </div>

    <div class="control ">
      <mat-label class="text-sm">State</mat-label>
      <mat-form-field
        class="w-full rounded-xl"
        appearance="fill"
        floatLabel="always"
      >
        <input
          matInput
          placeholder="First name"
          type="text"
          name="firstname"
          id="firstname"
        />
        <mat-error>Please enter your username</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="grid grid-cols gap-x-4 ">
    <div class="control ">
      <mat-label class="text-sm">Local Government Area</mat-label>
      <mat-form-field
        class="w-full rounded-xl"
        appearance="fill"
        floatLabel="always"
      >
        <input
          matInput
          placeholder="First name"
          type="text"
          name="firstname"
          id="firstname"
        />
        <mat-error>Please enter your username</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-x-4 ">
    <div class="control ">
      <mat-label class="text-sm">City</mat-label>
      <mat-form-field
        class="w-full rounded-xl"
        appearance="fill"
        floatLabel="always"
      >
        <input
          matInput
          placeholder="First name"
          type="text"
          name="firstname"
          id="firstname"
        />
        <mat-error>Please enter your username</mat-error>
      </mat-form-field>
    </div>

    <div class="control ">
      <mat-label class="text-sm">District</mat-label>
      <mat-form-field
        class="w-full rounded-xl"
        appearance="fill"
        floatLabel="always"
      >
        <input
          matInput
          placeholder="First name"
          type="text"
          name="firstname"
          id="firstname"
        />
        <mat-error>Please enter your username</mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="grid grid-cols-2 gap-x-4 ">
    <div class="control ">
      <mat-label class="text-sm">Street Name</mat-label>
      <mat-form-field
        class="w-full rounded-xl"
        appearance="fill"
        floatLabel="always"
      >
        <input
          matInput
          placeholder="First name"
          type="text"
          name="firstname"
          id="firstname"
        />
        <mat-error>Please enter your username</mat-error>
      </mat-form-field>
    </div>

    <div class="control ">
      <mat-label class="text-sm">House Number</mat-label>
      <mat-form-field
        class="w-full rounded-xl"
        appearance="fill"
        floatLabel="always"
      >
        <input
          matInput
          placeholder="First name"
          type="text"
          name="firstname"
          id="firstname"
        />
        <mat-error>Please enter your username</mat-error>
      </mat-form-field>
    </div>
  </div>

</form>



}
