<div class="bg-white rounded-lg p-5 max-w-[556px]">
  <p class="text-[#003A50] font-semibold text-xl lg:text-[32px]">Change Employment Status </p>
  <div class="flex flex-col gap-4 py-4">
   <div class="flex justify-between">
    <p class="text-[#003A50] text-base font-semibold">Employed</p>
    <mat-slide-toggle
              color="primary"
        ></mat-slide-toggle>
   </div>
   <div class="flex justify-between">
    <p class="text-[#003A50] text-base font-semibold">Unemployed</p>
    <mat-slide-toggle
              color="primary"
        ></mat-slide-toggle>
   </div>
  </div>
</div>
