<div class="border border-dashed border-[#BBBBBB] rounded-lg p-5 flex justify-center">
  <input
          type="file"
          #fileUpload
          class="hidden"
          (change)="uploadFile($event)"
        />
        <button (click)="fileUpload.click()"  class=" flex gap-2 text-sm font-medium">
          <img src="assets/svg/upload.svg" alt=""/>
          <span *ngIf="file.value">{{
            file.value
          }}</span>
          <span *ngIf="!file.value" class="">Drag file here to upload document or <span class="font-bold text-[#6941C6]">choose file</span></span>
        </button>
</div>
