
<div class="atoka-form-header">
  <div class="atoka-form-header-icon">
    <mat-icon svgIcon="password" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
  </div>
  <h1>Address Verification</h1>
  <small>Verify your address using existing ATOKA or enter manually.</small>
</div>
<form class="pt-10 max-w-md mx-auto">

  <div class="grid">
    <div class="control">
      <mat-label class="text-sm">Address</mat-label>
      <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
        <input matInput placeholder="ATOKA code" formControlName="firstName" type="tel" name="firstname" id="firstname">
        <mat-error>Please enter your ATOKA code</mat-error>
      </mat-form-field>
    </div>
  </div>
  <p class="text-sm font-light text-gray-500 text-center pb-4">Don't have ATOKA? <a (click)="showAddressForm = !showAddressForm" href="javascript:">Enter Address Manually</a>.</p>
  @if (showAddressForm) {
    <div class="grid grid-cols-2 gap-2">
      <div class="control">
        <mat-label class="text-sm">Country</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <mat-select [placeholder]="'Select country'">
            <mat-option [value]="1">Nigeria</mat-option>
            <mat-option [value]="2">Ghana</mat-option>
          </mat-select>
          <mat-error>Please select county</mat-error>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label class="text-sm">State</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <mat-select [placeholder]="'Select state'">
            <mat-option [value]="1">Abuja</mat-option>
            <mat-option [value]="2">Lagos</mat-option>
          </mat-select>
          <mat-error>Please select state</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="grid">
      <div class="control">
        <mat-label class="text-sm">Local Government Area</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <input matInput placeholder="LGA" type="tel" name="lga" id="lga">
          <mat-error>Please enter LGA</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-2">
      <div class="control">
        <mat-label class="text-sm">City</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <mat-select [placeholder]="'Select city'">
            <mat-option [value]="1">Ikeja</mat-option>
            <mat-option [value]="2">Any City</mat-option>
          </mat-select>
          <mat-error>Please select city</mat-error>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label class="text-sm">District</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <input matInput placeholder="LGA" type="text" name="district" id="district">
          <mat-error>Please enter district</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-2">
      <div class="control col-span-2">
        <mat-label class="text-sm">Street Name</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <input matInput placeholder="street" type="text" name="street" id="street">
          <mat-error>Please enter street name</mat-error>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label class="text-sm">House Number</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <input matInput placeholder="0" type="text" name="number" id="number">
          <mat-error>Please enter house number</mat-error>
        </mat-form-field>
      </div>
    </div>
  }
  <div class="grid">
    <div class="control">
      <mat-label class="text-sm">When did you move to this address?</mat-label>
      <mat-form-field class="w-full rounded-xl mb-3" appearance="fill" floatLabel="always">
        <input (click)="dob.open()" (focus)="dob.open()" placeholder="MM/DD/YYYY" matInput [matDatepicker]="dob">
        <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-error>Please select date</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="flex flex-col items-center mt-8">
    <button (click)="verifyAddress()" type="button" mat-flat-button color="primary">Continue</button>
  </div>

</form>
