<div class="py-5">
  <div class="border-b py-2 mt-4">
    <p class="text-lg font-medium">Details Settings </p>
    <p>We may still send you important notifications about your account outside of your notification settings.</p>
  </div>

  <div class="bg-white shadow-md mt-4 p-5">
    <div class="flex justify-between">
      <div>
        <p class="font-medium text-base">Personal info</p>
        <p>Update your photo and personal details here.</p>
      </div>
      <app-button
      buttonText="Edit"
      buttonStyles="px-8"
      ></app-button>
    </div>
    <div>
    </div>
  </div>
</div>
