<div class="py-5 lg:mb-10">
  <div class="border-b py-2 mt-4">
    <p class="text-lg font-medium">Details Settings </p>
    <p>We may still send you important notifications about your account outside of your notification settings.</p>
  </div>

  <div class="bg-white shadow-md mt-4 lg:mt-8 py-5 lg:py-10 px-8 rounded-lg lg:!mb-8">
    <div class="flex justify-between pb-5 border-b border-[#EAECF0]">
      <div>
        <p class="text-[#003A50] font-bold text-base">Personal info</p>
        <p>Update your photo and personal details here.</p>
      </div>
      <app-button
      buttonText="Edit"
      buttonStyles="px-8"
      ></app-button>
    </div>
    <div class="flex flex-col gap-4 lg:gap-6 py-5 mt-4">
      <div class="grid grid-cols-[20%_80%] pb-5 border-b border-[#EAECF0]">
        <p class="text-[#005677] font-semibold">Name</p>
        <div class="flex gap-3">
          <app-input></app-input>
          <app-input></app-input>
          <app-input></app-input>
        </div>
      </div>
      <div class="grid grid-cols-[20%_60%] pb-5 border-b border-[#EAECF0]">
        <p class="text-[#005677] font-semibold">Email Address</p>
        <app-input></app-input>
      </div>
      <div class="grid grid-cols-[20%_60%] pb-5 border-b border-[#EAECF0]">
        <p class="text-[#005677] font-semibold">Profile Image</p>
        <app-upload-profile-image></app-upload-profile-image>
      </div>
      <div class="grid grid-cols-[20%_60%] pb-5 border-b border-[#EAECF0]">
        <p class="text-[#005677] font-semibold">Phone Number</p>
        <app-input></app-input>
      </div>
      <div class="grid grid-cols-[20%_60%] pb-5 border-b border-[#EAECF0]">
        <p class="text-[#005677] font-semibold">Gender</p>
        <app-input></app-input>
      </div>
      <div class="grid grid-cols-[20%_60%] pb-5 border-b border-[#EAECF0] items-center">
        <p class="text-[#005677] font-semibold">ATOKA</p>
        <div>
          <app-input></app-input>
          <p class="flex justify-start pt-2 text-[#00ADEF] font-semibold cursor-pointer">Change Address</p>
        </div>
      </div>
      <div class="grid grid-cols-[20%_60%] pb-5 border-b border-[#EAECF0]">
        <p class="text-[#005677] font-semibold">Date of Birth</p>
        <app-input></app-input>
      </div>
      <div class="grid grid-cols-[20%_60%]">
        <p class="text-[#005677] font-semibold">Amount Status</p>
       <p>Active</p>
      </div>

    </div>
  </div>
</div>
