<div class="bg-white rounded-lg p-5 mt-5 max-w-[556px]">
  <div class="flex flex-col">
    <p class="text-[#003A50] font-bold text-xl">Change Password</p>
    <p class="font-semibold text-base">Kindly enter your email address to receive a reset password link</p>
  </div>
  <div class="flex flex-col gap-4">
    <div class="p-2">
      <p class="text-left  font-semibold">Email Address</p>
      <app-input [customClass]="'w-full'" [placeholder]="'Enter your email address'"></app-input>
    </div>

    <div class="flex mx-auto mt-5">
      <app-button
      buttonText="Next"
      buttonStyles="w-[368px]"
      ></app-button>
    </div>
  </div>

  <div class="">
    <p class="text-[#003A50] font-bold text-xl">Change Password</p>
  </div>
</div>
