.date-holder {
  @apply flex items-center relative
}

.custom-date-input {
  @apply absolute left-[50%] top-[50%];
  position: absolute !important;
  width: 0 !important;
  color: black;
}


.sort-button {
  @apply px-4 py-3 border whitespace-nowrap border-[#D6F5FFD9] border-solid rounded-lg bg-[#F3FCFF] flex gap-2 items-center text-[#003A50] text-sm font-medium
}

table{
  width: 100%;
}
.table-holder thead > tr > th {
  @apply font-bold py-3 px-3 text-sm text-[003A50] bg-[#F8F9FC] whitespace-nowrap font-display border-solid border-b-[#BAE5F44F] border-b;
}

.table-holder tbody > tr > td {
  @apply pb-5 pt-8  font-medium font-display text-sm border-b border-solid border-b-[#BAE5F44F] pl-[15px];
}

.table-holder table > thead > tr:first-child th:first-child {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.table-holder table > thead > tr:first-child th:last-child {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.table-holder tbody > tr > td:first-child  {
  padding-left: 4px;
}


