<div class="control">

  <mat-form-field class="w-full rounded-xl">
    <mat-label>Address</mat-label>
    <input type="text"
           placeholder="Pick one"
           matInput
           [formControl]="atokaSearch"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="setAddressCode()">
      @for (option of filteredOptions; track option) {
        <mat-option [value]="option.atoka">{{option.atoka}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
