<div class="control">
  <mat-label class="flex items-start font-[700]" >{{ labelName }}</mat-label>
  <mat-form-field class="w-full">
    <input
      type="text"
      placeholder="Pick one"
      matInput
      [formControl]="atokaSearch"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="setAddressCode($event)"
    >
      @for (option of filteredOptions; track option) {
      <mat-option [value]="option.atoka">{{ option.atoka }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
