<div class="bg-white rounded-lg p-5 w-[534px]">
  <div class="flex justify-between">
    <p class="text-[#003A50] font-bold text-xl">Send Tenant Request</p>
    <div class="flex justify-end cursor-pointer" (click)="close()">
      <img src="assets/svg/cancel.svg" alt="">
    </div>
  </div>

  <div class="grid gap-4 mb-5 mt-4">
    <div class="">
      <p class="text-left font-semibold">Username <span class="text-[#D83A3A]">*</span></p>
      <app-input [customClass]="'w-full'" [placeholder]="'Username'"></app-input>
    </div>
    <div class="">
      <p class="text-left  font-semibold">Email Address (optional)</p>
      <app-input [customClass]="'w-full'" [placeholder]="''"></app-input>
    </div>
    <div class="">
      <p class="text-left  font-semibold">Phone Number</p>
      <app-input [customClass]="'w-full'" [placeholder]="''"></app-input>
    </div>
  </div>

  <div class="flex justify-center mt-5">
    <app-button
    buttonText="Send Request"
    buttonStyles="w-[400px]"
    ></app-button>
  </div>
</div>
